In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('csv/zachCNN.csv')

In [12]:
df

,Unnamed: 0,ZachSteinberg,lukeSkywalker,tomHanks,MichaelPichardo,DylanZubata,ArnobDam,Match,Time
0,0,0.360175,0.792843,0.619488,0.726662,0.765432,0.734075,ZachSteinberg,2.914571
1,1,0.354539,0.796950,0.613035,0.722013,0.765352,0.725164,ZachSteinberg,2.719369
2,2,0.343917,0.790174,0.610501,0.713531,0.749863,0.714752,ZachSteinberg,2.729896
3,3,0.348562,0.804942,0.617004,0.710675,0.762581,0.726295,ZachSteinberg,2.703764
4,4,0.342294,0.802953,0.614659,0.706574,0.757725,0.733801,ZachSteinberg,2.745015
...,...,...,...,...,...,...,...,...,...
68,68,0.431253,0.764525,0.635536,0.754778,0.793070,0.752896,ZachSteinberg,2.616783
69,69,0.429935,0.770449,0.635474,0.748760,0.796954,0.749001,ZachSteinberg,2.628157
70,70,0.433988,0.766460,0.622938,0.736677,0.786011,0.746600,ZachSteinberg,2.634812
71,71,0.436082,0.784886,0.622121,0.748668,0.788121,0.748943,ZachSteinberg,2.666371
72,72,0.443317,0.804589,0.622410,0.768247,0.791349,0.744711,ZachSteinberg,2.633968

In [14]:
df.head()

   Unnamed: 0  ZachSteinberg          Match      Time
0           0       0.360175  ZachSteinberg  3.672919
1           1       0.354539  ZachSteinberg  2.906545
2           2       0.343917  ZachSteinberg  4.201861
3           3       0.348562  ZachSteinberg  3.901776
4           4       0.342294  ZachSteinberg  3.521155

In [21]:
avg = sum(df['DylanZubata']) / len(df['DylanZubata'])
avg

0.4606681586328216

In [32]:
avg = sum(df['MichaelPichardo']) / len(df['MichaelPichardo'])
avg

0.49657220765138615

In [10]:
avg = sum(df['ZachSteinberg']) / len(df['ZachSteinberg'])
avg

0.4075152585499558

In [13]:
avg = sum(df['ZachSteinberg']) / len(df['ZachSteinberg'])
avg

0.40789663106519247

In [5]:
avg = sum(df['daisyRidley']) / len(df['daisyRidley'])
avg

0.5135738365690873

In [8]:
avg = sum(df['daisyRidley']) / len(df['daisyRidley'])
avg

0.5143478162080853

In [29]:
no = df[df.Match=='No Match']
sum(no.DylanZubata)/len(no.DylanZubata)

0.5296164146758512

In [33]:
no = df[df.Match=='No Match']
sum(no.MichaelPichardo)/len(no.MichaelPichardo)

0.5209005578137453

In [16]:
no = df[df.Match=='No Match']
sum(no.ZachSteinberg)/len(no.ZachSteinberg)

ZeroDivisionError: division by zero

In [18]:
time = df.Time

In [21]:
avg_time = sum(df.Time)/len(df.Time)
avg_time

3.4768653177235223

In [23]:
print(max(df.ZachSteinberg))
print(min(df.ZachSteinberg))

0.45025163191921597
0.33492743571613703

In [25]:
np.std(df.ZachSteinberg)

0.0301430281873532